
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>This website helps our employees to manage thier timesheets and payroll</p>
<ul>
    <li>
        <p><strong>They can do all the important operations hassle free with zero worries about website breakdown</strong></p>
    </li>
    <li>
        <p><strong>Enjoy this webiste and please provide inputs for future development</strong></p>
    </li>
    <li>
        <p><strong></strong></p>
    </li>
    <li>
        <p><strong></strong></p>
    </li>
    <li>
        <p><strong></strong></p>
    </li>
    <li>
        <p><strong></strong></p>
    </li>
    <ul>
