
@{
    ViewData["Title"] = "GroupInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GroupInfo</h1>

<p> The Team Members </p>
<ul>
    <li>
        <p><strong>Dishank Machkar</strong></p>
    </li>
    <li>
        <p><strong>Deep Momaya</strong></p>
    </li>
    <li>
        <p><strong>Anshul Khairnar</strong></p>
    </li>
    <li>
        <p><strong>Anikit Singh</strong></p>
    </li>
    <li>
        <p><strong>Keshav Dhindwal</strong></p>
    </li>
    <li>
        <p><strong>Yuraj Pawar</strong></p>
    </li>
    <ul>
