@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container-fluid">

        <main role="main" class="pb-3">
            <div class="hero_area">
                <!-- header section strats -->
                <div class="hero_bg_box">
                    <img src="/brincht/images/clock.jpg" alt="">
                </div>

                <header class="header_section">
                    <div class="header_top">
                        <div class="container-fluid">
                            <div class="contact_link-container">
                                <a href="" class="contact_link1">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        Pune, India
                                    </span>
                                </a>
                                <a href="" class="contact_link2">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                                        Support : +01 1234567890
                                    </span>
                                </a>
                                <a href="" class="contact_link3">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        dummyemail@capgemini.com
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- end header section -->
                <!-- slider section -->
                <section class=" slider_section ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="5000">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detail-box">
                                                <h1>
                                                    Payroll and Time <br>
                                                    <span>
                                                        Management System
                                                    </span>
                                                </h1>
                                                <p>
                                                    This System allows employees to perform various activities like apply leaves, fill daily timesheets, Check leave balance, View salary reports etc.
                                                </p>
                                                <div class="btn-box">
                                                    <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn-1"> Admin Login </a>
                                                    <a asp-area="" asp-controller="Employee" asp-action="Index" class="btn-2">User Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="carousel-item ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="detail-box">
                                                    <h1>
                                                        Building your visions <br>
                                                        <span>
                                                            Creating reality
                                                        </span>
                                                    </h1>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                        sed do eiusmod magna aliqua. Ut enim ad minim veniam
                                                    </p>
                                                    <div class="btn-box">
                                                        <a href="" class="btn-1"> Read more </a>
                                                        <a href="" class="btn-2">Get A Quote</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="carousel-item " data-interval="5000">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detail-box">
                                                <h1>
                                                    Building your visions <br>
                                                    <span>
                                                        Creating reality
                                                    </span>
                                                </h1>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                    sed do eiusmod magna aliqua. Ut enim ad minim veniam
                                                </p>
                                                <div class="btn-box">
                                                    <a href="" class="btn-1"> Read more </a>
                                                    <a href="" class="btn-2">Get A Quote</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container idicator_container">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </section>
                <!-- end slider section -->
            </div>

            <!-- service section -->

            <section class="service_section layout_padding">
                <div class="container">
                    <div class="heading_container heading_center">
                        <h2>
                            Tasks Performed
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box b1">
                                <div class="img-box">
                                    <img src="/brincht/images/records.jpg" alt="Maintaining Employee records">

                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Maintaining Employee Records
                                    </h5>
                                    <p>
                                        Employees can Add, View, Update or Delete their records using this feature.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box b2">
                                <div class="img-box">
                                    <img src="/brincht/images/timesheetrecords.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Maintaining Time Sheets and Leave Records
                                    </h5>
                                    @*<p>
                                            Veritatis tempore labore, fugit quis nihil temporibus minima. Tenetur suscipit quibusdam ab necessitatibus aut libero hic eaque dolor a.
                                        </p>*@
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box b3">
                                <div class="img-box">
                                    <img src="/brincht/images/payrollrecords.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Maintaining Payroll Records
                                    </h5>
                                    <p>
                                        @* Veritatis tempore labore, fugit quis nihil temporibus minima. Tenetur suscipit quibusdam ab necessitatibus aut libero hic eaque dolor a.*@
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- end service section -->
            <!-- about section -->
            <!--<section class="about_section layout_padding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="img_container">
                                <div class="img-box">
                                    <img src="images/a1.jpg" class="about_img1" alt="" />
                                    <img src="images/a2.jpg" class="about_img2" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <div class="heading_container ">
                                    <h2>
                                        Who Are We?
                                    </h2>
                                </div>
                                <p>
                                    Reprehenderit quia placeat odio. Consequuntur sunt quo expedita a. Ipsam nostrum maxime facere porro nemo itaque beatae, ad voluptate iste placeat debitis dolore asperiores fugiat totam eveniet consequatur natus. Aliquam.
                                </p>
                                <p>
                                    Sed alias, labore iusto facilis doloribus fugiat totam officia corporis vitae error, voluptates nihil veniam et dicta eveniet deserunt at delectus placeat eligendi ipsum voluptatibus aliquam tempore molestiae veritatis. Aspernatur.
                                </p>
                                <div class="btn-box">
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- end about section -->
            <!--<div class="quote_container layout_padding">
                <div class="bg-box">
                    <img src="images/hero-bg.jpg" alt="">
                </div>
                <div class="container-fluid">
                    <div class="quote_box">
                        <h2>
                            You construct a dream. We will construct them to reality
                        </h2>
                        <a href="">
                            Get A Qoute
                        </a>
                    </div>
                </div>
            </div>-->
            <!-- client section -->
            <!--<section class="client_section layout_padding">
                <div class="container ">
                    <div class="heading_container heading_center">
                        <h2>
                            What says our clients
                        </h2>
                    </div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.png" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h4>
                                            Minim Veniam
                                        </h4>
                                        <p>
                                            Architecto nihil accusantium ab porro rem minima aliquid vel nulla delectus natus necessitatibus corrupti, ipsam maiores at quas officiis dolores deleniti numquam aperiam maxime. Pariatur minima adipisci unde quisquam cumque!

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.png" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h4>
                                            Minim Veniam
                                        </h4>
                                        <p>
                                            Architecto nihil accusantium ab porro rem minima aliquid vel nulla delectus natus necessitatibus corrupti, ipsam maiores at quas officiis dolores deleniti numquam aperiam maxime. Pariatur minima adipisci unde quisquam cumque!

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.png" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h4>
                                            Minim Veniam
                                        </h4>
                                        <p>
                                            Architecto nihil accusantium ab porro rem minima aliquid vel nulla delectus natus necessitatibus corrupti, ipsam maiores at quas officiis dolores deleniti numquam aperiam maxime. Pariatur minima adipisci unde quisquam cumque!

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel_btn-box">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- end client section -->
            <!-- blog section -->
            <!--<section class="blog_section layout_padding-bottom">
                <div class="container">
                    <div class="heading_container">
                        <h2>
                            From Our Blog
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/b1.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6 class="blog_date">
                                        21 December 2020
                                    </h6>
                                    <h5>
                                        Optio exercitationem vitae quas quos
                                    </h5>
                                    <p>
                                        Dicta nobis, aperiam fugiat ea, vitae aliquid unde quidem soluta provident enim harum aliquam veniam Delian veritatis, voluptates perspiciatis
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/b2.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6 class="blog_date">
                                        21 December 2020
                                    </h6>
                                    <h5>
                                        Quidem placeat vitae aliquid quo sunt
                                    </h5>
                                    <p>
                                        Dicta nobis, aperiam fugiat ea, vitae aliquid unde quidem soluta provident enim harum aliquam veniam Delian veritatis, voluptates perspiciatis
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/b3.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6 class="blog_date">
                                        21 December 2020
                                    </h6>
                                    <h5>
                                        Dolores vel maiores voluptatem enim
                                    </h5>
                                    <p>
                                        Dicta nobis, aperiam fugiat ea, vitae aliquid unde quidem soluta provident enim harum aliquam veniam Delian veritatis, voluptates perspiciatis
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- end blog section -->
            <!-- info section -->
            <section class="info_section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info_logo">
                                <a class="navbar-brand" href="index.html">
                                    <span>
                                        Capgemini
                                    </span>
                                </a>
                                <p>
                                    Capgemini Technology Services India Limited [CTSIL/Company] is a public limited Company incorporated under the Indian Companies Act, 1956 having its registered office at No. 14, Rajiv Gandhi Infotech Park, Hinjawadi Phase-III, MIDC-SEZ, Village Man, Taluka Mulshi, PUNE-411 057, INDIA.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_links">
                                <h5>
                                    Offices
                                </h5>
                                <ul>
                                    <li>
                                        <p>
                                            Regd. Office:
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            No. 14, Rajiv Gandhi Infotech Park,
                                            Hinjawadi Phase-III, MIDC-SEZ,
                                            Village Man, Taluka Mulshi,
                                            Pune-411 057,
                                            Maharashtra
                                        </p>
                                    </li>
                                    @*<li>
                                            <a href="">
                                                Minim veniam placeat
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Quisdotempor incididunt
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_info">
                                <h5>
                                    Contact Us
                                </h5>
                            </div>
                            <div class="info_contact">
                                <a href="" class="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        Pune, India
                                    </span>
                                </a>
                                <a href="" class="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                                        Call : +01 1234567890
                                    </span>
                                </a>
                                <a href="" class="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        dummyemail@capgemini.com
                                    </span>
                                </a>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="info_form ">
                                    <h5>
                                        Newsletter
                                    </h5>
                                    <form action="#">
                                        <input type="email" placeholder="Enter your email">
                                        <button>
                                            Subscribe
                                        </button>
                                    </form>
                                    <div class="social_box">
                                        <a href="">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
